.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 250px 1fr;
  position: relative;
}

.App header {
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5%;
  gap: 15px;
  color: white;
}

.App form {
  display: flex;
  width: 400px;
  max-width: 100%;
  height: 45px;
  border-radius: 6px;
  overflow: hidden;
}

.App form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px ;
}

.App form button {
  background-color: #000;
  width: 50px;
  border: none;
  cursor: pointer;
}

#ip-details {
  position: absolute;
  background-color: #fff;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  box-shadow: 0 0 15px #004;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 1000;
}

#ip-details .detail h2 {
  font-size: 20px;
}

#ip-details .detail .p {
  font-weight: 900;
  margin-bottom: 10px;
  color: #777;
}

main {
  background-color: #ddd;
}

main > div {
  height: 100%;
}

@media screen and (max-width: 768px) {
  #ip-details {
    flex-direction: column;
    width: 80px;
  }
}

